body {
  font-family: Arial;
  margin-top: 5px;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
}

.menu span {
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}
.dropdown {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dropdown a {
  margin: 5px 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
}
.first {
  margin-top: 8px;
  /* -webkit-text-stroke: 0.7px  #5ba597; */
  font-weight: 700;
  color:  #5ba597;
}
.contaner2 {
  margin: 20px 14px;
  font-size: 13.5px;
  text-align: center;
  line-height: 17px;
  margin-bottom: 10px;
}
#gggg{
  color:#5ba597;
}
.input{
  border: none;
  outline: none;
  margin-top: 0px;
}
.next > a{
  text-decoration: none;
  color: white;
}
.next {
  text-align: center;
  background-color:#0cb255;
  margin: 20px;
  padding: 10px 0px;
  border-radius: 50px;
margin-top: 17vh;
}